.taskBtn {
  padding: 5px 20px;
  border: 0;
  color: #fff;
  border-radius: 5px;
  font: 1em sans-serif;
  cursor: pointer;
  background-color: rgba(49, 159, 192, 0.486);
  transition: ease-in-out 0.5s;
  margin-bottom: 10px;
}

.taskBtn:not(:last-child) {
  margin-right: 10px;
}

.taskBtn:hover {
  background-color: rgba(15, 209, 235, 0.747);
  color: #000;
  transform: scale(1.15);
}

.taskBtn:disabled {
  background-color: rgba(76, 77, 78, 0.774);
}

.taskBtn:disabled:hover {
  background-color: rgba(76, 77, 78, 0.774);
  transform: scale(1);
  color: #fff;
}